
<html lang="en">
    <%if (user.rol == 0){ %>
       <%include partial/_header%>
   <% }else{%>
       <%include partial/_header_prov %>
       <% }%>
       <!-- Main component for a primary marketing message or call to action -->
          <div class="jumbotron">
            <h1>Welcome</h1>
            <p>Hello <%= user.username %></p>
            <p>
              <a class="btn btn-lg btn-primary" href="/profile" role="button">Profile view »</a>
            </p>
          </div>
        <%- include partial/_footer %>