
<html lang="en">
       <!-- Main component for a primary marketing message or call to action -->
          <div class="jumbotron">
            <h1>Welcome</h1>
            <p>Hello</p>
            <p>
              <a class="btn btn-lg btn-primary" href="/dataget" role="button">Get Data</a>
            </p>
            <p>
              <a class="btn btn-lg btn-primary" href="/datapost" role="button">Post Data</a>
            </p>
          </div>